@tailwind base;
@tailwind components;
@tailwind utilities;

@import './Poppins.css';
@import './animations.css';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  color: var(--foreground);
  
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles.css or global.css */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, and Opera */
}
